@model CadastroLoginSescAP


<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alterar Senha</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="body-cadastro">
    <partial name="_BusyIndication"/>
    <section class="caixa formularios">
        <div class="formulario cadastro">
            <div class="formulario-conteudo">
                <div class="logo">
                    <img class="logo__img" src="~/imagens/logo_sesc_ap.png" />
                </div>
                <header>Alterar Senha</header>



                @if (TempData["MSG_E_CriarNovaSenha"] != null)
                {
                    <div style="font-size: 1.4rem; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["MSG_E_CriarNovaSenha"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData["MSG_S_CriarNovaSenha"] != null)
                {
                    <div style="font-size: 1.4rem; text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["MSG_S_CriarNovaSenha"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

            <form method="post" class="formulario" id="formulario-cadastro">

                <div class="field input-field">
                    <input type="password" asp-for="SENHA" class="password" placeholder="Senha" />
                    <span asp-validation-for="SENHA"></span>
                    <i class="formulario__input-icon fa-regular fa-eye-slash"></i>
                </div>

                <div class="field input-field">
                    <input type="password" asp-for="CONFIRMACAOSENHA" class="password" placeholder="Digite a senha novamente" />
                    <span asp-validation-for="CONFIRMACAOSENHA"></span>
                </div>

                <div class="form-link">
                    <span><a asp-controller="Home" asp-action="Login" class="login-link">Voltar ao Login</a></span>
                </div>

                <div class="field button-field">
                    <button>Alterar</button>
                </div>

            </form>
            </div>
        </div>
    </section>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script type="text/javascript">
        function DisplayBusyIndication(){
            $('.body_loader').show();
        }

        function HideBusyIndication(){
            $('.body_loader').hide();
        }

        $(window).on('load', function(){
            DisplayBusyIndication();
        });

        $(document).on('submit','form', function(){
            DisplayBusyIndication();
        });

        window.setTimeout(function(){
            HideBusyIndication();

        }, 500);
    </script>
</body>
</html>
