@model CadastroLoginSescAP

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="body-login">
 <partial name="_BusyIndication"/>
    <section class="caixa formularios">
        <div class="formulario entrar">
            <div class="formulario-conteudo">
                <div class="logo">
                    <img class="logo__img" src="~/imagens/logo_sesc_ap.png" />
                </div>
                <header>Entrar</header>

                @if (ViewData["MSG_E"] != null)
                {
                    <div style="font-size: 1.4rem; text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        @ViewData["MSG_E"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData["MSG_CadastroSucesso"] != null)
                {
                    <div style="font-size: 1.4rem; text-align: center; " class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["MSG_CadastroSucesso"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData["MSG_E_CredencialVencida"] != null)
                {
                    <div style="font-size: 1.4rem; text-align: center;" class="alert alert-warning alert-dismissible fade show" role="alert">
                        @TempData["MSG_E_CredencialVencida"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }


                <form asp-action="Login" asp-controller="Home" method="post">

                    <div class="field input-field">
                        <input type="text" asp-for="MATRICULA" class="input" placeholder="Matrícula" maxlength="13" OnKeyPress="formatar('####-######-#', this)" />
                        <span asp-validation-for="MATRICULA"></span>
                        <!-- <i class="formulario__input-icon fa-solid fa-id-card"></i>-->
                    </div>

                    <div class="field input-field">
                        <input type="password" asp-for="SENHA" class="password" placeholder="Senha" />
                        <span asp-validation-for="SENHA"></span>
                        <i class="formulario__input-icon fa-regular fa-eye-slash"></i>
                    </div>

                    <div class="form-link">
                        <a asp-action="RecuperarSenha" asp-controller="Home" class="forgot-pass">Esqueci minha senha</a>
                    </div>

                    <div class="field button-field">
                        <button>Entrar</button>
                    </div>

                    <div class="form-link">
                        <span>Novo Aqui? <a asp-controller="Home" asp-action="CadastroLoginClientela" class="signup-link">Cadastrar-se</a></span>
                    </div>

                </form>
            </div>
        </div>
    </section>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <script type="text/javascript">
        function formatar(mascara, documento) {
        var i = documento.value.length;
        var saida = mascara.substring(0, 1);
        var texto = mascara.substring(i);

            if (texto.substring(0, 1) != saida) {
                documento.value += texto.substring(0, 1);
            }
        }

        function DisplayBusyIndication(){
            $('.body_loader').show();
        }

        function HideBusyIndication(){
            $('.body_loader').hide();
        }

        $(window).on('load', function(){
            DisplayBusyIndication();
        });

        $(document).on('submit','form', function(){
            DisplayBusyIndication();
        });

        window.setTimeout(function(){
            HideBusyIndication();

        }, 1000);
    </script>



</body>
</html>
