@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*-----RESET-----*/
*, *::before, *::after {
    margin: 0;
    padding:0;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    outline: 0;
   

}

/*-------------loader inicio--------------------*/
.body_loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    
}

.loader_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring{
    width: 200px;
    height: 200px;
    border: 0px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1){
border-bottom-width: 8px;
border-color: #d39e00;
animation: rotate 2s linear infinite;
}

.ring:nth-child(2){
    border-right-width: 8px;
    border-color: #fff;
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3){
    border-top-width: 8px;
    border-color: #1f385b;
    animation: rotate3 2s linear infinite;
}
    

@keyframes rotate {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }

}

@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }

}

@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }

}

.loading{
    color: #fff;
}


/*-------------loader fim--------------------*/

html, body{
    height: 100vh;
}

html, html{
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
    background-color: #f9fafc;
}

.body-login{
    background: #fff !important;
}

.body-cadastro {
    background: #fff !important;
}



/*-----CONTEÚDO TELA CADASTRO & LOGIN-----*/

.caixa {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
}

.formulario header {
    font-size: 28px;
    font-weight: 600;
    color: #747678;
    text-align: center;
    margin-top: 6px;
}

.formulario-conteudo form {

    margin-top: 30px;
}

form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 35px;
}

.field input{
    height: 100%;
    width: 100%;
    border: 1.5px solid #CACACA !important;
    padding: 0 15px;
    
    
   

}

.field input::placeholder{
    color: #D0D0CE  ;
}

.field input:focus {
   
    transition: all 0.1s ease;
    border-bottom-width: 3px !important;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 13px !important;
    font-weight: 400;
    border-radius: 6px;
}

.field button {
    background-color: rgb(31, 56, 91);
    color: #fff;
    font-size: 16px !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #0053A6 !important;
}

.form-link {
    text-align: center;
    margin-top: 25px;
   
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #0884A3 !important;
}

.form-link span{
    color: #212529 !important;
}

.form-link a:hover{
    text-decoration: underline !important;
}

.logo {
    text-align: center;
}

.logo__img {
    height: 7rem;
    width: 15rem;    
}



.input-field input.input-validation-error {
    border-color: #D95150 !important;
    
}


.field-validation-error {
    color: #D95150 !important;
    display: block;
    font-size: 1.2rem;
    margin-top: .2rem;
    font-weight: bold;
    
}

.alert-dismissible .btn-close{
    font-size: 10px;
    
}

#matricula-cadastro{
    margin-top: 0 !important;
}

#formulario-cadastro{
    margin-top: 0 !important;
}

.formulario__input-icon {
    font-size: 14px;
    color: #8b8b8b;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    position: absolute;
}

@media screen and (max-width: 400px){

    .formulario{
        padding: 15px 10px;
    }
}

/*-----LAYOUT-CREDENCIAL-MOVIMENTÇÃO---*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-weight: 400;
    line-height: 1.5em;
}

p{
    font-size: 15px;
    margin: 12px 0 0;
    line-height: 24px;
}

a {

    color: #333 !important;
    font-weight: 400;

}

button:focus{
    box-shadow:none;
    outline: none;
    border: none;
}

button{
    cursor: pointer;    
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a, a:hover, a:focus{
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper{
    position: relative;
    width: 100%;
    
}

@media (max-width: 425px) {

    .wrapper {
        display: flex;
    }
}

@media (min-width: 414px) {

    .wrapper {
        display: unset;
    }
}

@media (min-width: 412px) {

    .wrapper {
        display: unset;
    }
}
/*-----SIDEBAR---*/

#sidebar{
    position: fixed;
/*    height: 100vh !important;*/
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    width: 260px;
    overflow: auto;
    transition: all 0.3s;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(200 200 200 / 20%);

}

    

@media only screen and (min-width: 992px){

    #sidebar.active{
        left: -260px;
        height: 100% !important;
        position: absolute !important;
        overflow: visible !important;
        top: 0;
        z-index: 666;
        float: left !important;
        bottom: 0 !important;
    }

    #content{
        width: calc(100% - 260px);
        position: relative;
        float: right;
        transition: all 0.3s;
    }

    #content.active {

        width: 100%;
    }

}

#sidebar::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
    background-color: #eee;
    display: none;
}

#sidebar::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}

#sidebar:hover::-webkit-scrollbar-thumb {
   display: block;
}

#sidebar:hover::-webkit-scrollbar{
    display: block;
}

#sidebar .sidebar-header{
    padding: 26px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.sidebar-header h3 {

    color: #333;
    font-size: 17px;
    margin: 0px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: 600;

}

.sidebar-header h3 img{
    width: 45px;
    margin-right: 10px;
}

#sidebar ul li {
    padding: 2px 0px;
    
}

#sidebar ul li.active > a {
    color: #fff !important;
    background-color: rgb(31, 56, 91);
}

#sidebar ul li.active > a i {
    color: #fff !important;
   
}

#sidebar ul li a:hover {
    color: #fff !important;
    background-color: rgb(31, 56, 91);
}


.dropdown-toggle::after{
    position: absolute;
    right: 22px;
    top:18px;
    color:#777777;
}

#sidebar ul li.dropdown{
    position: sticky;
}

#sidebar ul.component{
    padding: 20px 0px;
}

#sidebar ul li a {
    padding: 5px 10px 15px 20px;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
    color: rgb(31, 56, 91) !important;
    text-transform: capitalize;
}


#sidebar ul li a i{
    position: relative;
    margin-right: 10px;
    top: 6px;
}

#content{
    position: relative;
    transition: all 0.5s;
   
    

}

.top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 8px 30px;
    background-color: rgb(31, 56, 91);
}

.xd-topbar{
    width: 100%;
    position: relative;

}

.page-title {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 70px;
    top: 21px;
}

.main-content {
    padding: 30px 30px 0px 30px;
    position: relative;
    width: 100%;
    height: 100%;
   
}

.xp-menubar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.09);
}

.xp-menubar span {

    margin: 10px;
    padding: 0px;
    cursor: pointer;
    font-weight: 600;
   
}

.navbar-nav > li.active {
    color: #0053A6;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.08) ;
}

.navbar-nav > li > a {
    color: #0053A6;
}

.xd-topbar .row{
   justify-content:space-between;
}
.navbar{
    justify-content: end;
}

.navbar-nav > li .dropdown-menu.show{
    transform: translate3d(0,0,0);
    opacity: 1;
    display: block;
    visibility: visible;
    left: -40px;
}

.dropdown-menu {

    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
    transform: translate3d(0, -20px, 0);
    visibility: hidden;
    position: absolute !important;
    transition: all 150ms linear;
    display:block;
    min-width: 15rem;
    right: auto;
    left: -40px;
    opacity: 0;
   

}

.small-menu{
    min-width: 10rem;
    
    
}

.dropdown-menu li > a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    font-weight: 400;
    color: #0053A6 !important;
    transition: all 150ms linear;
}

.dropdown-menu li > a .material-icons-sharp {
    position: relative;
    top: 3px;
    margin-right: 6px;
    font-size: 16px;
}

.navbar-nav > .active > a:focus{

    color: #fff;
    background-color: rgba(0,0,0,0.08);
}

.navbar-nav li a {

    position: relative;
    display:block;
    padding: 4px 10px !important;

}

.xp-user-live{
    position: absolute;
    bottom: 5px;
    right: 9px;
    width: 14px;
    height: 14px;
    border-radius:50%;
    border: 2px solid #353b48;
    background-color: #4c7cf3;
}

.card {

    margin: 10px 0px;
}

.card{
    border-radius: 0px !important;

}

.card{
    display: inline-block;
    position: relative;
    border: none;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 1px 2px rgba(0 0 0 / 8%);
    border-radius: 6px;
    color: rgba(0,0,0,0.87);
    background-color: #fff;
}

.card-stats .card-header{
    float: left;
    text-align: center;
}

.card .card-header{
    padding: 15px 20px 0;
    z-index: 3;
    border-bottom: 0px !important;
    background-color: #fff;
    border-radius:unset;
}

.card-stats .card-header span{

    font-size: 36px;
    line-height:56px;
    width: 56px;
    height: 56px;

}

.icon.icon-success{
    color: #4caf50;
}

.card-stats .card-content{
    text-align: right;
    padding-top: 10px;
}

.card .card-content{
    padding: 15px 20px;
    position: relative;
}

.card .card-content .category{
    margin-bottom: 0;
    font-size: 16px !important;


}

.card .category:not([class="text-"]){
    color: #555555;
    font-size: 14px;
    font-weight: 400;
}

.card .card-title{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
}

.card-stats .card-title{
    margin: 0;
}

.main-content .row{
    justify-content: center;
    
}

.table-wrapper{
    background-color: #fff;
    padding: 20px 25px;
    margin: 10px 0px 30px 0px;
    width: 100%;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.table-title{

    background: #353b48;
    color: #fff;
    padding: 10px 30px;
    margin: -20px -25px 10px;
    border-radius: 0px 0px 0 0;
}

.table-title h2{
    margin: 5px 0 0;
    font-size: 17px;

}

.table-title .btn{
    color: #fff !important;
    float: right;
    font-size: 13px;
    font-weight: 500;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    outline:none!important;
    margin-right: 2px;
    padding: 8px;

}

.table-title .btn i {
    float: left;
    font-size: 20px;
    margin-right: 5px;
}

.table-title .btn span{
    float: left;
    margin-top: 2px;
}

table.table tr th, table.table tr td{
    border-color:#e9e9e9;
    padding: 8px 15px;
    font-size: 12px;
    vertical-align: middle;
}

table.table-stripped tbody tr:nth-of-type(odd){
    background-color: #fcfcfc !important;
}

table.table-stripped.table-hover tbody tr:hover {
    background-color: #f5f5f5 !important;
}

#sidebar.show-nav, .body-overlay.show-nav{
    transform:translateX(0%);
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 15;

}

@media only screen and (max-width: 992px){
    #sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        z-index:10;
        width: 260px;
        transform: translateX(-100%);
        transition: all 150ms linear;
        box-shadow: none !important;
    }

    .body-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        transition: all 150ms linear;
        background-color: rgba(0,0,0,0.5);
    }

    .page-title{
        display: none;
    }

    
}

@media (max-width: 576px) {

    .table-title {
        width: 551px;
    }

    .navbar {
        justify-content: unset;
    }
}


@media(max-width: 280px) {

    .table-title {
        width: 551px;
    }

    #sidebar {
        width: 220px;
    }

    .navbar {
        justify-content: unset;
    }
}

.dataTables_paginate .paginate_button {
    border: none !important;
    font-size: 13px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    color: #999 !important;
    margin: 0 2px !important;
    line-height: 30px !important;
    border-radius: 2px !important;
    text-align: center !important;
    padding: 0 6px !important;
}

.dataTables_wrapper .dataTables_paginate{
    float: right !important;
    margin: 20px 0 5px !important;
}


.dataTables_length{
    display: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #0d6efd !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: none !important;
}

.dataTables_wrapper .dataTables_paginate a:hover {
    background: #dcdcdc !important;
    color: #666 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{

    background:none !important;
}

.dataTables_wrapper .dataTables_info{
   color: #666 !important;
   
}


.cartao {
    position: relative;
    width: 450px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cartao-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.cartao.trabalhador-do-comercio:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #f6be00, #ffe280 );
    clip-path: circle(400px at 50% -48.5%)
}

.cartao.publico-em-geral:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #a9a9a9, #6ad1e3 );
    clip-path: circle(400px at 50% -48.5%)
}

.cartao-header{
    position: relative;
    padding: 8px;
}

.logo_img_cartao {
    height: 5rem;
    width: 10rem;
    padding: 5px;
}

.main-cartao{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-cartao .cartao-image {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #ffe280;
    margin-bottom: 2px;
    overflow: hidden;
    bottom: 5px;
    cursor: pointer;
    
}

.cartao-image.publico-geral {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #6ad1e3 !important;
    margin-bottom: 2px;
    overflow: hidden;
    bottom: 5px;
    cursor: pointer;
}


.cartao-image img {
    position:relative;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    object-fit: cover;

}

.cartao-image .cartao-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(246, 190, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: .5s;
    opacity: 0;
    
}

.cartao-hover.geral  {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(106, 209, 277, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: .5s;
    opacity: 0;
}

.main-cartao .cartao-name{
    position: relative;
    top: 60px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    margin: 5px 0;
   
}

.cartao-header .cartao-data{
    position: relative;
    top: 55px;
    font-size: 1.5rem;
    opacity: .8;
    font-weight: 500;
}

.cartao-image:hover .cartao-hover{
    opacity: 1;
}

.conteudo-cartao{
    display: flex;
    position: relative;
    top: 205px;
    justify-content: center;
    padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.credencial-container{
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
}

.credencial-container .title{
    margin:0;
    font-weight: 600;
}

.credencial-container .cartao-text{
    margin:0;
    opacity: .6;
}

.info-container{
    text-align: center;
    padding: 8px;
    position: relative;
    bottom: 20px;
}

.desc-regional {
    font-weight: 600;
    font-size: 1.2rem;
}

.title-val-nacional{
    margin-bottom: 0px;
    
}

.title-val-nacional span{
    font-size: 1.4rem !important;
    font-weight: 600;
}

.departamento-regional,
.credenciamento{
    margin-bottom: 0px;
}

@media(max-width:280px) {
    .cartao-name {
        text-align: center;
    }

    .cartao{
        height: 630px;
    }

}

.QR-container{
    padding: 20px;
}

.qrcode-img {
    position: relative;
    height: 12rem !important;
    width: 12rem !important;
}

.cdbarra-num{
    position:relative;
    margin-bottom: 0px;
    font-size: 1.2rem;
}

/*-------------Formulário Pagamento--------------------*/

.wrapper-pagamento {
    background-color: #fff;
    width: 400px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

    .wrapper-pagamento h2 {
        color: rgb(31, 56, 91);
        font-size: 24px;
        padding: 10px;
        margin-bottom: 8px;
        text-align: center;
        border: 1px dashed rgb(31, 56, 91);
    }

    .input_group{

        margin-bottom: 8px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 5px 0;
    }

    .input_box{
        width: 100%;
        margin-right: 12px;
        position: relative;
    }

    .input_box:last-child{
        margin-right: 0;

    }

    .input_box .name{
        padding: 14px 10px 14px 50px;
        width: 100%;
        background-color: #fcfcfc;
        border: 1px solid #0003;
        outline: none;
        letter-spacing: 1px;
        transition: 0.3s;
        border-radius: 3px;
        color: #333;
        font-size: 12px;
    }

    .input_box .name:focus {
        -webkit-box-shadow: 0 0 2px 1px rgb(31, 56, 91);
        -moz-box-shadow: 0 0 2px 1px rgb(31, 56, 91);
        box-shadow: 0 0 2px 1px rgb(31, 56, 91);
        border: 1px solid rgb(31, 56, 91);
    }

    .input_box .icon-pg{
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 0px;
        color: #333;
        background-color: #f1f1f1;
        border-radius: 2px 0 0 2px;
        transition: 0.3s;
        font-size: 20px;
        pointer-events: none;
        border: 1px solid #00000003;
        border-right: none;
    }

.name:focus + .icon-pg {
    background-color: rgb(31, 56, 91);
    color: #fff;
    border: 1px solid rgb(31, 56, 91);
    border: none;
    transition: 1s;
}

.radio-pg{
    display: none;
}

.input_box label{
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    text-align: center;
    border: 1px solid #c0bfbf;
}

.input_box span{
    font-size: 14px;
}

.input_box .fa-credit-card{
    font-size: 14px;
    margin-right: 5px;
}

.input_box label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: none;
}

.input_box label:last-of-type {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
}

.radio-pg:checked+label {
    background-color: rgb(31, 56, 91);
    color: #fff;
    transition: 0.5s;
}

.input_box button {
    width: 100%;
    background-color: rgb(31, 56, 91);
    color: #fff;
    border: none;
    padding: 15px;
    border-right: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.input_box button:hover {
    cursor: pointer;
    background-color: #0053A6;
}

.input_box select:first-child{
    padding-left: 5px !important;
    margin-bottom: 10px !important;
}

.input_box select {
    padding-left: 5px !important;
    
}

/*-------------Forma de Pagamento--------------------*/

.container_forma_pagamento {
    width: 400px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 100px auto 0;
}


.imgPagamento {
    width: 50px;
    height: auto;
}

.container_forma_pagamento .title_forma_pagamento {
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.container_forma_pagamento .categoria_pagamento{
    margin-top: 10px;
    padding-top: 20px;

}

.categoria_pagamento .forma_pagamento{
    width: 100%;
    height: 65px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.forma_pagamento:nth-child(2), .forma_pagamento:nth-child(3){
    margin: 15px 0;
}

.forma_pagamento .imgName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgName .nome_pagamento{
    font-size: 14px !important;
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forma_pagamento:hover {
    box-shadow: 0px 0px 0px 1px #1F3864;
}


/*-------------Formulario Pix--------------------*/

.container_pix {
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 100px auto 0;
    width: 400px;
    border-radius: 7px;
    padding: 30px 25px 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.container_pix h2{
    text-align: center;
    margin-bottom: 5%;
}

.container_pix .input{
    resize: none;
    padding: 8px 13px;
    font-size: 17.6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.gerar_btn {
    color: #fff;
    background-color: rgb(31, 56, 91);
    cursor: pointer;
    padding: 16px 0;
    margin-top: 20px;
}

.container_pix :where(input, button){
    width: 100%;
    outline:none;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}

.container_pix :where(input)::placeholder{
    color: #aaa;
}

@media screen and (max-width: 475px){
    .container_pix :where(input, button){
        font-size: 16px !important;
    }

    .container_pix img{
        width: 100%;
        margin: 0;
    }

    .container_pix .gerar_btn{
        padding: 15px 0;
    }
}

/*-------------QrCode Pix--------------------*/

.container_qrcode {
    width: 400px;
    padding: 25px 35px;
    margin: 100px auto 0;
    border-radius: 10px;
    background: #fff !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.container_qrcode p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
    text-align:center !important;
}

.copy_text{
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
}

.copy_text input.chave_pix_text{
    width: 100%;
    padding: 6px;
    font-size: 14px;
    color: #555;
    border: none;


}

.copy_text button {
    padding: 10px;
    background: rgb(31, 56, 91);
    color: #fff;
    font-size: 14px;
    border: none !important;
    outline: none !important;
    border-radius: 10px;
    cursor: pointer;
    
}

.copy_text button:active {
    background: #809ce2;

}

.copy_text button:before {
    content: "Copiado";
    position: absolute;
    top: -72%;
    right: 0;
    background: rgb(31, 56, 91);
    padding: 8px 10px;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    display: none;
   
}

.copy_text button:after {
    content: "";
    position: absolute;
    top: -15px;
    right: 21px;
    width: 10px;
    height: 10px;
    background: rgb(31, 56, 91);
    transform: rotate(45deg);
    display: none;
    
}

.copy_text.active button:before,
.copy_text.active button:after{
    display: block;
    
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 300px;
    overflow: hidden;
    margin: 10px auto;
    transition: max-height 1s;
}

#imgBox img{
    width: 100%;
    padding: 10px;
}

/*-------------botão erro fechar pix--------------------*/
#btn_pix_close {
    position: relative;
    width: 10px;
    left: 15%;
    box-shadow: none !important;
}

#confirmacaoPagamento {
    min-width: 400px;
}

/*-------------botão confirmação recebimento pix--------------------*/
.pgto_confirm{
    border: 0;
    outline: none !important;
    user-select: none !important;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 18px;
    color: rgb(31, 56, 91);
    background: #f1f5f4;
    width: 330px;
    height: 50px;
    cursor: pointer !important;
    top: 10px;
    border-radius: 3px;
    display: grid;
    place-content: center;
    transition: 0.2s;
    
}

.confirm_loader{
    pointer-events: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(31, 56, 91);
    animation: an1 1s ease infinite;
    position: relative;
    right: 60px;
    top: 10px;
}

@keyframes an1 {
    0%{
        transform: rotate(0turn);
    }

    100%{
        transform: rotate(1turn);
    }
}

.confirm_text{
    font-family: monospace;
    width: 25ch;
    white-space: nowrap;
}

.pgto_confirm span{
    font-size: 13px;
    font-weight: 600;
    position: relative;
    bottom: 13px;
    
}

.container_erro_nulo,
.container_titulo_mensagem_error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.img-centralizada {
    display: block;
    margin: 0 auto;
}

