@model ErrorView
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if(Model == null)
    {
        <div class="conatiner_erro_nulo">
            <h2>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos prontamente resolver.</h2>
        </div>
    }
    else
    {
        <div class="container_titulo_mensagem_error">
            <img src="~/imagens/imagem_erro.png" class="img-centralizada">
            <h1>@Html.Raw(Model.Titulo)</h1>
            <h2 class="text-danger">@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}

<style>
    .container_erro_nulo,
    .container_titulo_mensagem_error {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .text-danger{
        color:red;
    }

    .img-centralizada {
        display: block;
        margin: 0 auto;
    }
</style>